{% extends "base.html" %}

{% block title %}
    List of Available Bookings
{% endblock %}

{% block content %}

	<h2>List of Available Bookings</h2>
    <table class = "table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
				<th>Datetime</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.booking_id }}</td>
                <td>{% if booking.name %}taken{% else %}<a href='/book?booking_id={{booking.booking_id}}'>book</a>{% endif %}</td>
                <td>{% if booking.email %}{{ booking.email }}{% else %}{{ "" }}{% endif %}</td>
				<td>{{ booking.booking_datetime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}